.grid{
    display:flex;
    flex-wrap: wrap ;
}
.menu{
    background-color: black;
    display:flex;
    justify-content: space-between;
}
.dino{
    background-color: black;
    display:flex;
justify-content: center;
}
.gun{
    background-color: rgb(0, 0, 0);
    display:flex;
justify-content: center;
}
.parr{
    background-color:black;
    display:flex;
justify-content: center;
}
.cat{
    background-color: black;
    display:flex;
justify-content: center;
}
.panda{
    background-color: black;
    display:flex;
justify-content: center;
}